@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply relative;
		@apply bg-gray-700;
		@apply overflow-x-hidden;
	}

	* {
		@apply text-gray-200;
	}

	button,
	input {
		@apply focus:outline-none box-content;
	}

	img {
		-webkit-user-drag: none;
	}

	h2 {
		@apply text-2xl;
	}

	p {
		@apply my-2;
	}

	ol {
		@apply list-decimal;
		@apply pl-8;
	}
}

@layer utilities {
	.scrollbar::-webkit-scrollbar-track {
		@apply bg-purple-400;
	}

	.scrollbar::-webkit-scrollbar {
		@apply bg-transparent;
		width: 4px;
		height: 12px;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-purple-600;
	}

	.games-rolling-animation {
		@apply animate-roll;
		animation-fill-mode: forwards;
	}
}
