@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		min-width: 1280px;
	}

	* {
		@apply text-gray-200;
	}

	button,
	input {
		@apply focus:outline-none box-content;
	}

	img {
		-webkit-user-drag: none;
	}
}

@layer utilities {
	.scrollbar::-webkit-scrollbar-track {
		@apply bg-purple-400;
	}
	
	.scrollbar::-webkit-scrollbar {
		@apply bg-transparent;
		width: 4px;
		height: 12px;
	}
	
	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-purple-600;
	}

	.games-rolling-animation {
		@apply animate-roll;
		animation-fill-mode: forwards;
	}
}